<!DOCTYPE html>
<html>
  <head>
  <meta charset="UTF-8"/>
  <title>CRUD API</title>
  </head>
  <body>
    <h1>API COM FUNCIONALIDADES BÁSICAS DE CRUD</h1>
    <h2>ROTAS</h2>
    <ul>
      <li><b>/ :</b> homepage com explicações de uso</li><br>
      <li> <b>/create/nome/empresa/quantidade :</b> página de cadastro de informações a partir dos dados fornecidos</li><br>
      <li> <b> /readall : </b>  página de leitura de todos os dados da base de dados</li><br>
      <li> <b>/readone/id :</b>  página de leitura de um dado específico da base de dados. O parametro passado deve ser o ID da informação desejada.</li><br>
      <li> <b>/update/id/campo/mudança :</b>  página de atualização de um dado na base de dados. O primeiro parametro selecionado o dado a ser mudado; o segundo parametro seleciona o campo a ser mudado; e o terceiro parametro define a nova informação para o campo.</li><br>
      <li> <b>/delete :</b>  página para deletar um dado da base de dados. O parametro passado deve ser o ID a ser deletado.</li><br>
    </ul>
  </body>
</html>